<div id="imagegen">
    <p>Welcome to WebXR Generative AI Art Gallery!</p>
    <section class="prompt form">
        <input id="pi" [(ngModel)]="prompt" placeholder="Describe an artwork you would like to create" type="text" />
        <input id="qi" [(ngModel)]="question" placeholder="Ask a question about the artwork you would like to create"
            type="text" />
        <!-- <mat-icon [hidden]="true" (click)="speechInput()" aria-hidden="false" aria-label="Microphone" fontIcon="microphone" /> -->
        <button mat-button color="primary" (click)="genImage()">
            Generate
        </button>
    </section>
</div>
