:host {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 4em;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: max-content;
    font-family: "Courier New", Courier, monospace;
    font-size: large;
    z-index: 15;
}

p {
    padding: 1em;
}

#imagegen {
    background-color: rgb(237, 248, 249);
    width: 100%;
    height: 100%;
}

input {
    width: 320px;
}

.prompt {
    margin: auto;
}
