:host {
    position: absolute;
    bottom: 4em;
    padding: 10em;
    width: 600px;
    height: max-content;
    // background: rgba(0, 0, 0, 0.8);
    // color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: large;
    z-index: 15;
}

div {
    background-color: white;
    width: 100%;
    height: 100%;
}
