// :host {
//     position: absolute;
// }

:host {
  display: block;
  position: fixed;
  top: 0;
  right: 50px;
  z-index: 1005;
}

#twitter-logo {
  height: 40px;
  margin: 0 8px;
}

image {
  src: "assets/images/gallery.png";
}

#twitter-logo:hover {
  opacity: 0.8;
}
