:host {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    padding: 0.2em;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 1005;
}

#twitter-logo {
    height: 40px;
    margin: 0 8px;
}

image {
    src: "assets/images/gallery.png";
}

#twitter-logo:hover {
    opacity: 0.8;
}
